<HTML>

    <HEAD>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <TITLE>Login</TITLE>

    </HEAD>

    <BODY>

        <H1 style="text-align: center">Login</H1>       

        <table class="from-group" action>

        <form>

  <div class="container">

    <label for="exampleInputEmail1">Email address</label>

    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <small id="emailHelp" class="form-text text-muted">Não compartilhamos seu email com ninguém</small>

    <label for="exampleInputPassword1">Password</label>

    <input type="password" class="form-control" id="exampleInputPassword1">

  </div><br>

  <div align = "middle">

  <button type="submit" class="btn btn-primary" align="right">Acessar</button>

  </div>

    </form>

        </table>

        

    </BODY>

</HTML>

