<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Lista de eventos</title>
    </head>
    <body>
    <header>
    	<nav class="nav">
				<a sec:authorize="isAuthenticated()" th:href="@{api/index}">Home</a>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/adicionarGrupo}">Adicionar Grupo </a>
				<a sec:authorize="hasRole('GRUPO')" th:href="@{/adicionarEvento}"> Adicionar Evento</a>
				<a sec:authorize="isAuthenticated()" th:href="@{/listarGrupo}">Grupos</a>
				<a sec:authorize="isAuthenticated()" th:href="@{/listarEvento}">Eventos</a>
	
			</nav>
    </header>
	<table class="table">
		<thead class="thead-dark">
			<td>Foto</td>
			<td>Nome</td>
			<td>Endereço</td>
			<td>Grupo</td>
			<td>Descricao</td>
		</thead>
		<tr th:each="evento:{evento}" }>
			<td th:text="${evento}.foto}"></td>
			<td th:text="${evento.nome}"></td>
			<td th:text="${evento.endereco}"></td>
			<td th:text="${evento.grupo}"></td>
			<td th:text="${evento.descricao}"></td>
			<td><input type="button" value="Editar Grupo" href="@{editarEvento/{evento}"></td>
			<td><input type="button" value="Deletar Grupo" href="@{deletarEvento/{evento}"></td>
		</tr>
	</table>
    
</body>
</html>